.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 60px;
  background-color: var(--surface-color);
  border-bottom: 2px solid var(--border-color);
}

.brand {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
}

.links a {
  margin-left: 1.5rem;
  color: var(--text-dimary);
}

.links a:hover {
  color: var(--primary-color);
}

.content {
  flex: 1;
  overflow: auto;
}
